* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #bb2ae7;
}

header {
    height: 100px;
    background-color: #4f0996;
}

.menu-superior ul {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
}

.menu-superior li {
    display: inline-block;
}

.menu-superior li a {
    display: block;
    color: rgb(181, 25, 212);
    text-align: center;
    font-size: 16px;
    padding: 41px 25px;
    text-decoration: none;
}

.menu-superior li a:hover {
    background-color: rgb(64, 65, 161);
    color: rgb(255, 255, 255);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transform: translate(-20px);
}

.container {
    background-color: #33076b;
    padding: 0 20%;
    min-height: 100%;
    padding-bottom: 100px;
}

.main {
    background-color: #11066d;
    min-height: 100%;
    padding: 20px;
}

.main h1 {
    text-align: center;
    color: #388d16;
    margin-top: 30px;
    margin-bottom: 20px;
}

.main p {
    line-height: 1.2rem;
}

.main h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.link{
    color:aqua;
}

.link:hover{
    text-decoration: underline;
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: #ad7cc0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    text-align: center;
    padding: 12px 0;
}